Copyright (c) 2016#if($today.year > 2016)-$today.year#end, EMC Corporation.

Licensed under the Apache License, Version 2.0 (the "License").
You may not use these files except in compliance with the License.
A copy of the License is located at

http://www.apache.org/licenses/LICENSE-2.0.txt

or in the "license" file accompanying these files. These files are
distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
ANY KIND, either express or implied. See the License for the
specific language governing permissions and limitations under the
License.
